.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.SideMenu {
  background-color:black;
  color: rgb(13, 112, 29);
  font-size: 1.1em;
  border-color: black;
	opacity: 0.95;
	/* background-image: url("/human.png") */
  /* filter: alpha(opacity=50); */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.report__preview-container .page__table .header .col.userId,
.report__preview-container .page__table .row .col.userId {
  visibility: hidden;
  display: none;
}


/* .container {
	position: relative;
	width: 320px;
	height: 200px;
	background: #ececec;
} */

.floating-menu {
	position: absolute;
	right: 20px;
	bottom: 20px;
	height: 35px;
  text-align: right;
  z-index: 1;
	position:fixed;
	/*transition: height 250ms ease-in-out;*/
}

.floating-menu.open {
	height: 150px;
	overflow: hidden;
}

.floating-menu.open .floating-menu-item {
	margin-top: 8px;
}

.floating-menu-item label{
	display: inline-block;
	margin-right: 8px;
	padding: 4px 10px;
	border-radius: 12px;
	background: rgba(0,0,0,.25);
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.floating-menu.open .floating-menu-item label {
	opacity: 0.4;
}

.floating-menu-icon{
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
  background:green;
  color: white;
	border-radius: 50%;
	border: none;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	text-align: center;
}

.floating-menu-icon .material-icons {
	font-size: 32px;
	color: #fff;
	vertical-align: middle;
}

.override{
	vertical-align: middle;
	text-align: center;


}