.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.SideMenuBlack {
  background-color:black;
  color: rgb(13, 112, 29);
	font-size: 1.1em;
	font-weight: 600;
  border-color: black;
	opacity: 0.95;
	/* z-index:2; */

	/* background-image: url("/human.png") */
  /* filter: alpha(opacity=50); */
}

/* #nonscroll{
	margin: 0 0 0 0;
	/* height: 50px; */
	/* position: fixed;
	padding-top: 0;
	width: 100%;
	z-index:1; */
	/* scroll-behavior: unset */

/* } */ 
#fixed{
	position: fixed;
	z-index: 2;
	width: 100%;

}

#modalwidth{
	/* width:1000px; */
	max-width: 80%;

}
.SideMenuGreen {
  background-color:rgb(13, 112, 29);
  color: black;
	font-size: 1.1em;
	font-weight: 600;
  border-color: rgb(13, 112, 29);
	opacity: 0.95;
	/* background-image: url("/human.png") */
  /* filter: alpha(opacity=50); */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.report__preview-container .page__table .header .col.userId,
.report__preview-container .page__table .row .col.userId {
  visibility: hidden;
  display: none;
}


#n1 {
	color:white;
}

#n1:active {
	color:black;
	background-color: white
}

#n1:focus {
	color:black;
	background-color: grey

}

#n1:hover {
	color:black;
	background-color: white

}

/* #imagepress { */
	/* background-color: transparent */
/* } */

/* #imagepress:hover {
	background-color: transparent
} */
 #imagepress:active { 
	background-color: grey
} 
/*  
#imagepress:focus {
	background-color: transparent;
}  */
/* .container {
	position: relative;
	width: 320px;
	height: 200px;
	background: #ececec;
} */

.floating-menu {
	position: absolute;
	right: 20px;
	bottom: 20px;
	height: 35px;
  text-align: right;
  z-index: 1;
	position:fixed;
	/*transition: height 250ms ease-in-out;*/
}

.floating-menu.open {
	height: 150px;
	overflow: hidden;
}

.floating-menu.open .floating-menu-item {
	margin-top: 8px;
}

.floating-menu-item label{
	display: inline-block;
	margin-right: 8px;
	padding: 4px 10px;
	border-radius: 12px;
	background: rgba(0,0,0,.25);
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.floating-menu.open .floating-menu-item label {
	opacity: 0.4;
}

.floating-menu-icon{
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
  background:green;
  color: white;
	border-radius: 50%;
	border: none;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	text-align: center;
}

.floating-menu-icon .material-icons {
	font-size: 32px;
	color: #fff;
	vertical-align: middle;
}

.override{
	vertical-align: middle;
	text-align: center;


}

#selection{
	background-color: lightgreen;
	color:white;
	}
#selection:focus{
	background-color: green;
		box-shadow: green;}
#selection:active{
	background-color: green;
		box-shadow: green;	}

	#selection:hover{
		background-color: green;
		box-shadow: green;
		}

		/* #znegative{
			z-index: -1;
		}
		#zpositive{
			z-index: 3;
		} */