#btn {
  background: #5cb85c;
  border-radius: 8px;
  font-family: Saira SemiCondensed;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

#btn2 {
  background: #5cb85c;
  border-radius: 8px;
  font-family: Saira SemiCondensed;
  text-align: center;
  color: #ffffff;
}
