#MainNav {
  background-color: #5cb85c;
  color: aliceblue;
  font-family: "Saira Semi Condensed", sans-serif;
}

#n1 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: medium;
  font-weight: 400;
  background-color: #5cb85c;
  color: white;
}

#n1:hover {
  color: white;
}

#n1:active {
  background-color: #5fad5f;
}

#n2 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: x-large;
  font-weight: 600;
  background-color: #5cb85c;
  color: white;
}

#header {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  text-align: center;
}
